.accessibilityBtn
  top: auto
  bottom: 20px
  left: 20px
  right: auto
  width: 45px
  height: 45px
  padding: 0
  position: fixed
  outline: 0
  border: 0
  border-radius: 50%
  background-color: #146ff8
  cursor: pointer
  z-index: 2147483647
  transition: all .15s ease
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  @media screen and (max-width: 991px)
    width: 30px
    height: 30px

  &:hover
    transform: scale(1.1)

.blockFirst
  background: radial-gradient(circle at center, #f2f9ff, #e6f3ff, #e6edfa, #f2f4f8) !important
  
  &.partOne
    padding-bottom: 0 !important

    .bInner
      padding: 40px 0 0 0
      background-repeat: no-repeat
      background-position: top center
      background-size: cover
      background-color: #fbfbff
      background-image: none !important

      @media screen and (max-width: 991px)
        padding: 0

      h1
        color: #19184A

      p
        color: rgba(25, 24, 74, 0.5)

    .bContent
      max-width: 100%
      margin: 0 auto
      padding: 20px 0 30px 0
      text-align: center

      @media screen and (max-width: 991px)
        padding: 10px 0px 20px 0px
        padding-top: 97px

      h1
        font-size: 40px
        max-width: 100%
        font-weight: 700
        margin: 0 auto 10px auto

        @media screen and (max-width: 991px)
          font-size: 24px

      p
        margin: 0 0 40px 0

    .atp
      max-width: 1040px
      margin: 0 auto
      display: flex
      align-items: center
      padding-bottom: 0
      justify-content: space-between

      @media screen and (max-width: 991px)
        flex-wrap: wrap
        flex-direction: column-reverse

      .left
        max-width: 490px
        text-align: left

        @media screen and (max-width: 991px)
          max-width: 100%
          width: 100%
          text-align: center

      p
        font-size: 16px

        @media screen and (max-width: 991px)
          margin: 0 0 20px 0

      .right
        text-align: center
        width: 50%

        @media screen and (max-width: 991px)
          width: 100%
          padding: 0

        .videoBox
          position: relative
          padding-top: 56.25%
          margin: 16px auto 0 auto
          border-radius: 16px
          border-bottom: 3px solid #637cf7
          overflow: hidden
          width: 100%

          iframe
            bottom: 0
            left: 0
            border: 0
            position: absolute
            top: 0
            height: 100%
            width: 100%

    h4
      color: #377dff
      font-size: 12px
      font-weight: 400
      padding: 0.4375rem 0.9375rem
      background: rgba(55, 125, 255, 0.1)
      border-color: transparent
      display: inline-block
      line-height: 21px
      border-radius: 20px
      transition: all 0.2s ease-in-out
      margin-bottom: 0.5rem !important
      font-family: "Product Sans", sans-serif
      letter-spacing: 0.6px

      @media only screen and (max-width: 767px)
        margin-top: 30px

.container
  width: 100%
  padding-right: var(--bs-gutter-x, 0.75rem)
  padding-left: var(--bs-gutter-x, 0.75rem)
  margin-right: auto
  margin-left: auto
  
  @media (min-width: 576px) 
    max-width: 540px
  @media (min-width: 768px)
      max-width: 720px
  @media (min-width: 992px)
      max-width: 960px
  @media (min-width: 1200px)
      max-width: 1140px
  @media (min-width: 1400px)
      max-width: 1190px

h1, h2, h3, h4
  font-weight: 700
  font-family: "Product Sans", sans-serif
  line-height: 1.3
  color: #19184a

h3
  @media (min-width: 1200px)
    font-size: 1.75rem

.blockSecond
  padding: 80px 0
  position: relative

  @media screen and (max-width: 991px)
    padding: 60px 0

  &.partTwo
    background: linear-gradient(271.19deg, rgba(48, 125, 246, .05) 0%, rgba(20, 187, 191, .05) 100%), #FFFFFF
    
    .caption
      max-width: 640px
      margin-left: auto
      margin-right: auto

      @media screen and (max-width: 991px)
        margin: 0 0 40px 0

    .buttonBrand
      color: #637CF7
      background-color: #fff
      border: none
  
  .caption
    margin: 0 0 40px 0
    text-align: center

    h3
      display: inline-block
      width: 100%
      margin-bottom: 35px
      color: #19184a
    
    span
      color: #377dff
      font-size: 0.6875rem
      font-weight: 400
      padding: 0.4375rem 0.9375rem
      background: rgba(55, 125, 255, 0.1)
      border-color: transparent
      border-radius: 50px
      display: inline-block
      margin-bottom: 15px

    h2
      font-size: 32px
      font-weight: 700
      margin: 0
      color: #19184A

    p
      margin: 10px auto auto
      max-width: 800px

  .max500
    max-width: 500px !important
    margin-left: auto
    margin-right: auto

  .item
    height: 100%
    margin: 0 0 30px 0
    padding: 25px
    background: #fff
    box-shadow: 0 16px 32px rgb(0 0 0 / 0.04)
    border-radius: 24px
    padding-bottom: 0.25rem !important
    display: flex
    flex-direction: column
    justify-content: space-between

    @media screen and (max-width: 575px)
      min-height: 230px
        
    @media screen and (max-width: 767px)
      padding: 10px
      text-align: center
      margin: 0 0 10px 0

    .icon
      margin: 0 0 10px 0

    h3
      font-weight: 700
      margin: 0 0 10px 0
      font-size: 20px
      color: #000

    p
      margin: 0
      color: #828282
      margin-bottom: 3rem !important

.row
  --bs-gutter-x: 1.5rem
  --bs-gutter-y: 0
  display: flex
  flex-wrap: wrap
  margin-top: calc(var(--bs-gutter-y) * -1)
  margin-right: calc(var(--bs-gutter-x) * -0.5)
  margin-left: calc(var(--bs-gutter-x) * -0.5)

  @media screen and (max-width: 767px)
    --bs-gutter-x: 0.5rem

  > *
    flex-shrink: 0
    width: 100%
    max-width: 100%
    padding-right: calc(var(--bs-gutter-x) * 0.5)
    padding-left: calc(var(--bs-gutter-x) * 0.5)
    margin-top: var(--bs-gutter-y)

.card
  margin-bottom: 1.5rem !important

  @media (min-width: 576px) 
    flex: 0 0 auto
    width: 50%
  @media (min-width: 768px)
    flex: 0 0 auto
    width: 50%
    margin-bottom: 15px
  @media (min-width: 992px)
    flex: 0 0 auto
    width: 33.33333333%

.margin
  margin-bottom: 1rem !important

.button
  background-color: #fff
  font-size: 16px
  color: #fff
  display: inline-flex
  align-items: center
  font-weight: 700
  padding: 13px 20px
  justify-content: center
  transition: all ease 0.3s
  border-radius: 8px
  background: rgb(255 255 255 / 0.16)
  position: relative

  span
    position: relative
    z-index: 2
    color: #fff

  .arrowRight
    width: 35px
    height: 25px
    background-repeat: no-repeat
    background-position: center center
    flex-shrink: 0
    margin: 0 0 0 10px
    transition: all ease 0.3s
    position: relative
    left: 0
    z-index: 2

  &.buttonBrand
    background: linear-gradient(45deg, #5a73ed 0, #3d57d5 100%)
    outline: 0

    &::before
      position: absolute
      content: ""
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: linear-gradient(-45deg, #5a73ed 0, #3d57d5 100%)
      z-index: 0
      transition: all .5s ease
      opacity: 0
      border-radius: 8px

    &:hover
      background: linear-gradient(-45deg, #5a73ed 0, #3d57d5 100%)

      &::before
        opacity:1
        z-index: 0

      .arrowRight
        left: 5px

.emptyLine
  padding-top: 3rem !important
  text-align: center !important

.blockSecond
  &.partThree
    background: linear-gradient(271.19deg, rgb(68 51 241 / 0.04) 0%, rgb(98 142 255 / 0.04) 100%), #FFFFFF

.cup
  margin-bottom: 20px

.column
  margin-bottom: 1rem !important

  @media (min-width: 576px)
    flex: 0 0 auto
    width: 50%
  @media (min-width: 768px)
    flex: 0 0 auto
    width: 50
  @media (min-width: 992px)
    flex: 0 0 auto
    width: 25%

  .itemStep
    height: 100%
    margin: 0 0 35px 0
    padding: 25px
    background: #FFF
    box-shadow: 0 16px 32px rgb(0 0 0 / 0.04)
    border-radius: 24px
    margin: 0 0 30px 0
    position: relative
    text-align: center

    p
      margin: 0
      color: #828282

    .text
      text-align: left !important

    .step
      display: flex
      align-items: center
      margin: 0 0 15px 0
      justify-content: space-between

      span
        font-size: 14px
        color: #fff
        font-weight: 700
        height: 32px
        background: #4942F3
        border-radius: 20px
        line-height: 32px
        padding: 0 15px

.blueArrow
  content: ""
  width: 28px
  height: 14px
  display: block
  position: absolute
  background-repeat: no-repeat
  top: 50%
  left: 100%
  z-index: 99
  margin: -2px 0 0 -14px


.searchBlock
  text-align: center
  background: #fff
  padding: 80px 0

  .container
    border-bottom: 1px solid #edeff3
    padding-top: 40px
    padding-bottom: 60px

    @media screen and (max-width: 991px)
      border: none

  .searchForm
    background: linear-gradient(45deg, rgb(142 97 255 / 0.5333333333) 0, #339bf7 50%, rgb(43 198 215 / 0.431372549) 100%)
    border-radius: 30px
    padding: 2px
    margin: 0 auto 30px auto
    position: relative
    max-width: 650px

    .icon
      width: 20px
      height: 20px
      position: absolute
      top: 21px
      left: 20px

    input
      border: none
      outline: 0
      display: block
      width: 100%
      text-align: left
      padding: 0 50px 0 48px
      background: #fff
      border-radius: 999px
      height: 60px
      line-height: 60px
      color: #343434
      font-size: 18px
      font-weight: 400

    button
      background: #ff6955
      width: 68px
      height: 54px
      padding: 0
      position: absolute
      top: 5px
      right: 5px
      cursor: pointer
      border: none
      border-radius: 40px
      transition: all ease 0.6s
      box-shadow: 3px 3px 10px 0 rgb(255 104 85 / 0.3)

      @media only screen and (max-width: 767px)
        background: #FF6955 !important

      span
        width: 21px
        height: 21px
        display: inline-block
        background-position: center
        background-size: 100%
        position: relative
        top: 4px

  .listTags
    margin: 35px 0 0 0

    @media screen and (max-width: 767px)
      white-space: inherit

    @media screen and (max-width: 991px)
      text-align: left

    span
      display: inline-block
      margin: 0 12px 12px 0
      font-size: 14px
      font-weight: 500
      color: #19184a
      padding: 8px 0
      color: #343434
      display: none

      @media screen and (max-width: 991px)
        width: 100%

    a
      display: inline-block
      margin: 0 12px 12px 0
      font-size: 14px
      font-weight: 400
      padding: 6px 12px
      border-radius: 20px
      transition: all ease 0.3s
      color: #2b2aaa
      border: none
      background: rgb(43 42 170 / 0.1)
      box-shadow: 0 1px 6px rgb(17 17 17 / 0.06)
      backdrop-filter: blur(23.7219px)

.searchForm
  .icon
    z-index: 1
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: 60px
    background-repeat: no-repeat
    background-position: center right

  input
    border: none
    outline: 0
    display: block
    width: 100%
    text-align: center
    padding: 0 70px 0 70px
    background: #fff
    box-shadow: 0 16px 40px rgb(0 0 0 / 0.02)
    border-radius: 999px
    font-size: 24px
    height: 80px
    line-height: 80px
    color: #343434
    font-weight: 400

  button
    span
      position: absolute
      top: 0
      left: 0
      bottom: 0
      z-index: 1
      right: 0
      background-size: 24px auto
      display: block
      background-repeat: no-repeat
      background-position: center center